html, body {
	margin: 0px;
	padding: 0px;
}

.logo {
	width: 40%;
	margin: 20px auto;
	display: block;
}

.tiles {
	display: flex;
	padding: 1.5%;
	flex-direction: row;
	flex-wrap: wrap;
}

.tile {
	display: inline-block;
	margin: .5%;
	vertical-align: middle;
	width: calc((100% / 6) - (2 * .5%));
}