html, body, .placed-tiles {
	height: 100%;
}

.placed-tile-divider {
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 1), rgba(204, 204, 204, 0));
}

.placed-tile {
	padding: 1%;
	height: calc((100% / 7) - (2 * 1%));
}

.fixed-footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: #fff;
}

.unplaced-tiles {
	display: flex;
	padding: 1%;
	flex-direction: row;
	flex-wrap: wrap;
}

.unplaced-tile {
	display: inline-block;
	margin: 1%;
	vertical-align: middle;
	width: calc((100% / 10) - (2 * 1%));
}