html {
	position: fixed;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.container {
	display: flex;
	height:  100%;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
}

.footer {
	flex-shrink: 0;
}

.logo {
	width: 40%;
	margin: 20px auto;
	display: block;
}

.placed-tile-divider {
    border: 0;
    margin: 0px;
    height: 2px;
    background-color: #f7f6f6;
}

.placed-tile {
	height: calc(100vh / 10);
}

.drag-handle {
	height: 100%;
	width: 80%;
}

.unplaced-tiles {
	padding: 1.5%;
}

.unplaced-tile {
	display: inline-block;
	margin: 0.5%;
	vertical-align: middle;
}